@* @model IEnumerable<SchoolManagementSystem.Models.Student>  *@

<div class="container-fluid bg-primary">
    <p class="text-light fw-bold mb-2 p-2 "> Student Profile</p>
</div>

<div class="container">
    <h2>@Model.FirstName Details</h2>
    <div>
        <p><strong>Full Name:</strong> @Model.FirstName @Model.LastName</p>
        <p><strong>Age:</strong> @Model.Age</p>
        <p><strong>Enrollment Number:</strong> @Model.StudentId</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Current Class:</strong> @Model.ClassId</p>
        <p><strong>Father Name:</strong> @Model.FatherName</p>
        <p><strong>Mobile:</strong> @Model.PhoneNumber</p>
        <p><strong>Current Address:</strong> @Model.CurrentAddress</p>
        <p><strong>Permanent Address:</strong> @Model.PermanentAddress</p>
    </div>
    <a class="btn btn-primary" href="@Url.Action("Logout", "Account")">Logout</a>
    <a class="btn btn-danger" href="@Url.Action("Dashboard", "Home")">Back</a>
</div>